@model BugTracker.Models.TicketViewModel

@{
    ViewBag.Title = @Model.Title + " - Info";
}
<div class="row">
    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item">
                <div>
                    <strong>Title:</strong>
                    @Html.DisplayFor(model => model.Title)
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <strong>Description:</strong>
                    @Html.DisplayFor(model => model.Description)
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <strong>Project:</strong>
                    @Html.DisplayFor(model => model.Project)
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <strong>Opened By:</strong>
                    @Html.DisplayFor(model => model.Submitter)
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <strong>Assigned To:</strong>
                    @Html.DisplayFor(model => model.Assignee)
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <strong>Priority:</strong>
                    @Html.DisplayFor(model => model.Priority)
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <strong>Status:</strong>
                    @Html.DisplayFor(model => model.Status)
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <strong>Type:</strong>
                    @Html.DisplayFor(model => model.Type)
                </div>
            </li>
        </ul>
    </div>

    <div class="col-lg-8">
        <section id="ticketComments">
            <h2><strong>@Model.Comments.Count() @(Model.Comments.Count() == 1 ? "Comment" : "Comments")</strong></h2>
            <!-- TicketComments -->
            @if (Model.Comments.Count() > 0)
            {
                foreach (var item in Model.Comments)
                {
                    <div class="ticket-comment">
                        <h3>
                            <a href="@Url.Action("Show", "Account", new { username = item.Author })">@item.Author</a>
                        </h3>
                        <p>@item.Comment</p>
                    </div>
                }
                <p>
                    @Html.ActionLink("Comment", "New", "TicketComments", new { accountId = ViewBag.AccountId, projectId = ViewBag.ProjectId, ticketId = ViewBag.TicketId }, new { @class = "btn btn-default" })
                </p>
            }
            else
            {
                <p>
                    <a href="@Url.Action("New", "TicketComments", new { accountId = ViewBag.AccountId, projectId = ViewBag.ProjectId, ticketId = ViewBag.TicketId })">
                        Be the first to write a comment!
                    </a>
                </p>
            }
        </section>
    </div>
</div>

