@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BugTracker</h1>
    @if (String.IsNullOrEmpty(User.Identity.Name))
    {
        <p class="lead">Welcome!</p>
    }
    else
    {
        <p class="lead">Hello @User.Identity.Name!</p>
    }

    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
        
<ul>
    <li>@Html.ActionLink("List Tickets", "Index", "Tickets")</li>
    <li>@Html.ActionLink("Submit New Ticket", "Create", "Tickets")</li>
    <li>@Html.ActionLink("List Projects","Index", "Projects")</li>
    <li>@Html.ActionLink("Create New Project", "Create", "Projects")</li>
</ul>