@model IEnumerable<BugTracker.Models.ProjectViewModel>

@{
    ViewBag.Title = "Projects";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <a class="btn btn-success btn-sm" href="@Url.Action("New")">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </div>

    <table class="table table-condensed table-list projects-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                # Tickets
            </th>
            <th>
                # Members
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Show", new { id = item.ID })">@item.Name</a>
                </td>
                <td>
                    @Html.ActionLink(@item.NumberTickets, "Index", "Tickets", new { projectId = item.ID }, null)
                </td>
                <td>
                    @item.NumberMembers
                </td>
                <td>
                    <div class="btn-group-xs">
                        <a class="glyphicon glyphicon-edit btn btn-primary" href="@Url.Action("Edit", new { id=item.ID })"></a>
                        <a class="glyphicon glyphicon-remove btn btn-danger" href="@Url.Action("Delete", "Projects", new { id=item.ID })"></a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>