@model BugTracker.Models.DetailsProjectViewModel

@{
    ViewBag.Title = @Model.Name;
}

<div>
    <h3>@Model.NumberMembers @(Model.NumberMembers == "1" ? "Member" : "Members")</h3>

    <hr />

    <div class="row">
    @foreach (var item in Model.Members)
    {
        <div class="col-md-2 col-sm-6">
            <div>
                <div class="thumbnail-view">
                    <a href="@Url.Action("Show", "Account", new { username = item.UserName })" class="thumbnail-view-hover ui-lightbox"></a>
                    <img src="@item.AvatarFilePath" class="project-member" alt="Gallery Image" />
                </div>
            </div>
            <div class="caption">
                <h3><a href="@Url.Action("Show", "Account", new { username = item.UserName })">@(item.FirstName + " " + item.LastName)</a></h3>
            </div>
        </div> <!-- /.col -->
    }
    </div> <!-- /.row -->
</div>

<div>
    <h3>@Model.NumberTickets @(Model.NumberTickets == "1" ? "Ticket" : "Tickets")</h3>

    <hr />

    @if (Int32.Parse(Model.NumberTickets) > 0)
    {
        <table class="table table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTickets.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTickets.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTickets.FirstOrDefault().Submitter)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTickets.FirstOrDefault().Assignee)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTickets.FirstOrDefault().Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTickets.FirstOrDefault().Status)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTickets.FirstOrDefault().Type)
                </th>
            </tr>
            @foreach (var item in Model.ProjectTickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Submitter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assignee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                </tr>
            }
        </table>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
