@using Microsoft.AspNet.Identity
@model BugTracker.Models.ManageUserViewModel

<h3 class="content-title"><u>Change Password</u></h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>

    <hr>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-7 col-md-push-3">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            &nbsp;
            <button type="reset" class="btn btn-default">Cancel</button>
        </div>
    </div>
}