@model BugTracker.Models.EditUserViewModel

@{
    ViewBag.Title = "Profile";
}

<div class="row">

<div class="col-md-9">

    <div class="row">

        <div class="col-md-4 col-sm-5">

            <div class="thumbnail">
                <img src="~/img/avatars/adam.jpeg" alt="Profile Picture" />
            </div> <!-- /.thumbnail -->

            <br />

            <div class="list-group">

                <a href="javascript:;" class="list-group-item">
                    <i class="fa fa-asterisk"></i> &nbsp;&nbsp;Activity Feed

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                </a>

                <a href="@Url.Action("Index", "Projects", new { accountUsername = Model.UserName })" class="list-group-item">
                    <i class="fa fa-book"></i> &nbsp;&nbsp;Projects

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                    <span class="badge">3</span>
                </a>

                <a href="javascript:;" class="list-group-item">
                    <i class="fa fa-envelope"></i> &nbsp;&nbsp;Messages

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                </a>

                <a href="@Url.RouteUrl("userSettings")" class="list-group-item">
                    <i class="fa fa-cog"></i> &nbsp;&nbsp;Settings

                    <i class="fa fa-chevron-right list-group-chevron"></i>
                </a>
            </div> <!-- /.list-group -->

        </div> <!-- /.col -->


        <div class="col-md-8 col-sm-7">

            <h2>@Html.DisplayFor(model => model.UserName)</h2>

            <h4>Software Engineer</h4>

            <hr />

            <p>
                <a href="javascript:;" class="btn btn-primary">Follow @Model.UserName</a>
                &nbsp;&nbsp;
                <a href="javascript:;" class="btn btn-secondary">Send Message</a>
            </p>

            <hr />


            <ul class="icons-list">
                <li><i class="icon-li fa fa-envelope"></i> @Html.DisplayFor(model => model.Email)</li>
                <li><i class="icon-li fa fa-github"></i><a href="https://github.com/aleury"> github.com/aleury</a></li>
                <li><i class="icon-li fa fa-map-marker"></i> Greensboro, NC</li>
            </ul>

            <br />

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>

            <hr />

            <br />

            <h3 class="heading">Social Feed</h3>


            <div class="feed-item feed-item-idea">

                <div class="feed-icon">
                    <i class="fa fa-lightbulb-o"></i>
                </div> <!-- /.feed-icon -->

                <div class="feed-subject">
                    <p><a href="javascript:;">Rod Howard</a> shared an idea: <a href="javascript:;">Create an Awesome Idea</a></p>
                </div> <!-- /.feed-subject -->

                <div class="feed-content">
                    <ul class="icons-list">
                        <li>
                            <i class="icon-li fa fa-quote-left"></i>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                        </li>
                    </ul>
                </div> <!-- /.feed-content -->

                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

            <div class="feed-item feed-item-image">

                <div class="feed-icon">
                    <i class="fa fa-picture-o"></i>
                </div> <!-- /.feed-icon -->

                <div class="feed-subject">
                    <p><a href="javascript:;">John Doe</a> posted the <strong>4 files</strong>: <a href="javascript:;">Annual Reports</a></p>
                </div> <!-- /.feed-subject -->

                <div class="feed-content">
                    <div class="thumbnail" style="width: 375px">
                        <div class="thumbnail-view">
                            <a class="thumbnail-view-hover ui-lightbox" href="./img/mockup.png">
                            </a>

                            <img src="~/img/mockup.png" style="width: 100%;" alt="Gallery Image" />
                        </div>

                    </div> <!-- /.thumbnail -->
                </div> <!-- /.feed-content -->

                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

            <div class="feed-item feed-item-file">

                <div class="feed-icon">
                    <i class="fa fa-cloud-upload"></i>
                </div> <!-- /.feed-icon -->

                <div class="feed-subject">
                    <p><a href="javascript:;">John Doe</a> posted the <strong>4 files</strong>: <a href="javascript:;">Annual Reports</a></p>
                </div> <!-- /.feed-subject -->

                <div class="feed-content">
                    <ul class="icons-list">
                        <li>
                            <i class="icon-li fa fa-file-text-o"></i>
                            <a href="javascript:;">Annual Report 2007</a> - annual_report_2007.pdf
                        </li>
                        <li>
                            <i class="icon-li fa fa-file-text-o"></i>
                            <a href="javascript:;">Annual Report 2008</a> - annual_report_2007.pdf
                        </li>
                        <li>
                            <i class="icon-li fa fa-file-text-o"></i>
                            <a href="javascript:;">Annual Report 2009</a> - annual_report_2007.pdf
                        </li>
                        <li>
                            <i class="icon-li fa fa-file-text-o"></i>
                            <a href="javascript:;">Annual Report 2010</a> - annual_report_2007.pdf
                        </li>
                    </ul>
                </div> <!-- /.feed-content -->

                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->



            <div class="feed-item feed-item-bookmark">

                <div class="feed-icon">
                    <i class="fa fa-bookmark"></i>
                </div> <!-- /.feed-icon -->

                <div class="feed-subject">
                    <p><a href="javascript:;">Rod Howard</a> bookmarked a page on Delicious: <a href="javascript:;">Jumpstart Themes</a></p>
                </div> <!-- /.feed-subject -->

                <div class="feed-content">

                </div> <!-- /.feed-content -->

                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

            <div class="feed-item feed-item-question">

                <div class="feed-icon">
                    <i class="fa fa-question"></i>
                </div> <!-- /.feed-icon -->

                <div class="feed-subject">
                    <p><a href="javascript:;">Rod Howard</a> posted the question: <a href="javascript:;">Who can I call to get a new parking pass for the Rowan Building?</a></p>
                </div> <!-- /.feed-subject -->

                <div class="feed-content">
                    <ul class="icons-list">
                        <li>
                            <i class="icon-li fa fa-quote-left"></i>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                        </li>
                    </ul>
                </div> <!-- /.feed-content -->

                <div class="feed-actions">
                    <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                    <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                    <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
                </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

        </div>

    </div>

</div>


<div class="col-md-3 col-sm-6 col-sidebar-right">

    <div class="well">
        <h4>Recent Activity</h4>


        <ul class="icons-list text-md">

            <li>
                <i class="icon-li fa fa-location-arrow"></i>

                <strong>@Html.DisplayFor(model => model.UserName)</strong> uploaded 6 files.
                <br />
                <small>about 4 hours ago</small>
            </li>

            <li>
                <i class="icon-li fa fa-location-arrow"></i>

                <strong>@Html.DisplayFor(model => model.UserName)</strong> followed the research interest: <a href="javascript:;">Open Access Books in Linguistics</a>.
                <br />
                <small>about 23 hours ago</small>
            </li>

            <li>
                <i class="icon-li fa fa-location-arrow"></i>

                <strong>@Html.DisplayFor(model => model.UserName)</strong> added 51 papers.
                <br />
                <small>2 days ago</small>
            </li>
        </ul>

    </div>
</div>


</div> <!-- /.row -->